In [7]:
# Assignment 1 Set 11 Dataset
import pandas as pd

data_file = 'Assignment_1_Set_11_Dataset.csv'
hdf = pd.read_csv(data_file, index_col = 0)
# hdf = pd.read_csv(data_file, index_col = 0).T

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1025 entries, 52 to 54
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       1025 non-null   int64
 1   cp        1025 non-null   int64
 2   trestbps  1025 non-null   int64
 3   chol      1025 non-null   int64
 4   fbs       1025 non-null   int64
 5   restecg   1025 non-null   int64
 6   thalach   1025 non-null   int64
 7   exang     1025 non-null   int64
 8   oldpeak   1025 non-null   float64
 9   slope     1025 non-null   int64
 10  ca        1025 non-null   int64
 11  thal      1025 non-null   int64
 12  target    1025 non-null   int64
dtypes: float64(1), int64(12)
memory usage: 112.1 KB

In [ ]:
"""
age= age of the person 
sex= gender
cp = 
trestbps = heart beat per sec at rest 
chol = cholestrol
fbs= fasting blood sugar 
restecg= rest ect
thalach=
exang=
oldpeak=
slope=
ca=
thal=
target= 
"""

In [8]:
hdf.head()

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [9]:
hdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1025 entries, 52 to 54
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       1025 non-null   int64
 1   cp        1025 non-null   int64
 2   trestbps  1025 non-null   int64
 3   chol      1025 non-null   int64
 4   fbs       1025 non-null   int64
 5   restecg   1025 non-null   int64
 6   thalach   1025 non-null   int64
 7   exang     1025 non-null   int64
 8   oldpeak   1025 non-null   float64
 9   slope     1025 non-null   int64
 10  ca        1025 non-null   int64
 11  thal      1025 non-null   int64
 12  target    1025 non-null   int64
dtypes: float64(1), int64(12)
memory usage: 112.1 KB

In [11]:
hdf.describe()

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
import seaborn as sb